@charset "utf-8";

@media (prefers-color-scheme: light) {
    :root {
        --bgcolor: #e8ecef;
        --navbgcolor: rgb(232, 236, 239, 0.9);
        --navtextcolor: #2b2b2b;
        --navhovercolor: #2b2b2b;
        --papercolor: #f8fbf8;
        --textcolor: #2b2b2b;
        --buttoncolor: #e8ecef;
        --hovercolor: #003078;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: #000b00;
        --navbgcolor: rgb(0, 11, 0, 0.9);
        --navtextcolor: #afafaf;
        --navhovercolor: #f8fbf8;
        --papercolor: #202020;
        --textcolor: #afafaf;
        --buttoncolor: #383c3c;
        --hovercolor: #1d70b8;
    }
}

body {
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
    color: var(--textcolor);
    font-family: Helvetica, Arial, sans-serif;
}

a:link, a:visited {
    color: var(--textcolor);
    text-decoration: none;
}

a:hover {
    color: var(--hovercolor);
    text-decoration: none;
}

.global-navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 20px 0px 20px;
    background-color: var(--navbgcolor);
    border-bottom: 1px solid;
    color: var(--navtextcolor);
}

.global-navlinks a:link {
    color: var(--navtextcolor);
    text-decoration: none;
}

.global-navlinks a:visited {
    color: var(--navtextcolor);
    text-decoration: none;
}

.global-navlinks a:hover {
    color: var(--navhovercolor);
    text-decoration: none;
}

.global-navbar-logo a {
    font-size: 24px;
    color: var(--navtextcolor);
}

.global-navbar-menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.global-navbar-menu li:hover {
    text-decoration: underline;
}

.global-navbar-menu li {
    list-style: none;
}

input[type=checkbox] {
    display: none;
}

.global-navbar-hamburger {
    display: none;
    font-size: 32px;
    user-select: none;
}

@media (max-width: 600px) {
    .global-navbar {
        justify-content: space-between;
        margin: auto;
    }

    .global-navbar-menu {
        display: none;
        position: absolute;
        background-color: var(--navbgcolor);
        top: 76px;
        right: 0;
        left: 0;
        text-align: left;
        text-indent: 1em;
        padding: 16px 0 16px 0;
    }

    .global-navbar-menu li:hover {
        text-decoration: underline;
    }

    .global-navbar-menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.global-navbar-menu {
        display: block;
    }

    .global-navbar-hamburger {
        display: block;
    }
}

.paper {
    width: 75%;
    margin: 0.5em auto 1em;
    padding: 5px 30px 10px 30px;
    color: var(--textcolor);
    background-color: var(--papercolor);
    border-radius: 0.25em;
}

.linetitle {
    border-bottom: 2px solid #c0c6c9;
    text-align: left;
}

.linetitle:before {
    left: 0;
    top: 14px;
    width: 3px;
    height: 15px;
}

.bodytext {
    line-height: 1.5em;
}

audio {
    width: 100%;
}

video {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #c0c6c9;
    text-align: left;
    padding: 8px;
}

th.left, td.left {
    text-align: left;
}

th.center, td.center {
    text-align: center;
}

th.right, td.right {
    text-align: right;
}

details {
    border: 1px solid #c0c6c9;
    border-radius: 0.25em;
    padding: .5rem .5rem 0;
}

summary {
    font-size: 1rem;
    font-weight: bold;
    margin: -.5rem -.5rem 0;
    padding: .5rem;
}

details[open] {
    padding: .5rem;
}

details[open] summary {
    border-bottom: 1px solid #c0c6c9;
    margin-bottom: .5rem;
}

blockquote {
    margin: 1.25em;
}

blockquote p {
    padding: 1em;
    color: var(--textcolor);
    background: var(--buttoncolor);
    border-radius: 0.25em;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

input[type=text], select, textarea {
    font: 1em 'Manrope', sans-serif;
    background-color: var(--papercolor);
    color: var(--textcolor);
    width: 100%;
    padding: 12px;
    border: 1px solid #c0c6c9;
    border-radius: 0.25em;
    box-sizing: border-box;
    margin: 6px auto 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    font: 1em 'Manrope', sans-serif;
    background-color: var(--papercolor);
    color: var(--textcolor);
    width: 100%;
    padding: 12px;
    border: 1px solid #c0c6c9;
    border-radius: 0.25em;
    box-sizing: border-box;
    margin: 6px auto 16px;
    resize: vertical;
}

input[type=submit] {
    font: 1em 'Manrope', sans-serif;
    background-color: var(--bgcolor);
    color: #f8fbf8;
    padding: 0.5em 1em;
    border: 1px solid var(--bgcolor);
    border-radius: 0.25em;
    margin: 0.5em 1em 0.5em 0;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 1px solid #1d70b8;
}

input[type=button] {
    font: 1em 'Manrope', sans-serif;
    background-color: var(--buttoncolor);
    color: var(--textcolor);
    padding: 0.5em 1em;
    border: 1px solid var(--buttoncolor);
    border-radius: 0.25em;
    margin: 0.5em auto;
    cursor: pointer;
}

input[type=button]:hover {
    border: 1px solid #1d70b8;
}

@media screen and (max-width: 600px) {
    .paper {
        width: 80%;
    }

    input[type=submit] {
        width: 100%;
        margin: 0.5em auto;
    }

    input[type=button] {
        width: 100%;
    }
}

.copyright {
    text-align: center;
    color: var(--navtextcolor);
    padding: 0em 0em 1em 0em;
}